
a{
    text-decoration: none;
}
.a{
    max-width: 1180px;
    height: 1300px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto;
    position: relative;
    top: 450px;
    border-radius: 15px;
    animation: 1.5s a;
    
}
@keyframes a{
    0%{
        top: 600px;
    }
    100%{
        top: 450px;
    }
}
.aa{
    width: 100px;
    height: 100px;
    background-image: url(../../../Img/tx.png);
    background-size: contain;
    position: relative;
    margin: auto;
    top: -50px;
    border-radius: 50%;
    border:rgb(117, 130, 172) 5px solid;
    animation: aa 1.5s;
}

@keyframes aa{
    0%{
        top: -350px;
    }
    100%{
        top: -50px;
    }
}
.ar{
    width: 70px;
    height: 400px;
    position: sticky;
    float: right;
    margin-top: 0px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: rgba(117, 130, 172,.8);
    top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}
.ar a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0,0,0,.9);
}
.ar a{
    height: 80px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: 900;
    text-align:center;
    line-height: 80px;
    transition: .4s;
}
@media (max-width: 1180px){
    .ar{
        display: none;
    }
   }