.aaaniu,
.baaniu,
.caaniu,
.daaniu,
.eaaniu {
  /* position: relative; */
  position: absolute;
  width: 80%;
  height: 80px;
  margin: auto;
  left: 0;
  right: 0;
}
.aaaniu {
  top: 90px;
}
.baaniu {
  top: 200px;
}
.caaniu {
  top: 310px;
}
.daaniu {
  top: 420px;
}
.eaaniu {
  top: 530px;
}
.anniu,
.bnniu,
.cnniu,
.dnniu,
.enniu {
  transition: 1s;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.521); */
}
.anniu:hover,
.bnniu:hover,
.cnniu:hover,
.dnniu:hover,
.enniu:hover {
  width: 100%;
}
.anniu:hover .anniu2,
.bnniu:hover .bnniu2,
.cnniu:hover .cnniu2,
.dnniu:hover .dnniu2,
.enniu:hover .enniu2 {
  width: 100%;
}
.anniu:hover .anniu1,
.bnniu:hover .bnniu1,
.cnniu:hover .cnniu1,
.dnniu:hover .dnniu1,
.enniu:hover .enniu1 {
  border-radius: 42px;
  background-color: #fff;
  box-shadow: 20px 20px 28px #252627, -20px -20px 28px #5b5c61;
  left: 90%;
}
/* .anniu1:hover,
.bnniu1:hover,
.cnniu1:hover,
.dnniu1:hover,
.enniu1:hover {
  left: 85%;
} */
.anniu1,
.bnniu1,
.cnniu1,
.dnniu1,
.enniu1 {
  transition: 1s;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 9px 9px 0px #1f2021, -9px -9px 0px #6f7077;
}
.anniu1 span,
.bnniu1 span,
.cnniu1 span,
.dnniu1 span,
.enniu1 span {
  line-height: 80px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}
.anniu2,
.bnniu2,
.cnniu2,
.dnniu2,
.enniu2 {
  overflow: hidden;
  transition: 1s;
  width: 80px;
  height: 80px;
  /* background-color: rgb(119, 22, 22); */
  border-radius: 50px;
}
.css {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.363);
  display: flex;
}
.css li {
  flex: auto;
  line-height: 80px;
}
.css li a {
  color: white;
  transition: 0.5s;
  padding: 30px;
}

@media (max-width: 420px) {
  .anniu,
  .bnniu,
  .cnniu,
  .dnniu,
  .enniu {
    transition: 0.2s;
  }
  .anniu2,
  .bnniu2,
  .cnniu2,
  .dnniu2,
  .enniu2 {
    transition: 0.3s;
  }
  .anniu1,
  .bnniu1,
  .cnniu1,
  .dnniu1,
  .enniu1 {
    transition: 0.3s;
  }
  .css li a {
    color: white;
    transition: 0.5s;
    padding: 10px;
  }
  .anniu:hover .anniu1,
  .bnniu:hover .bnniu1,
  .cnniu:hover .cnniu1,
  .dnniu:hover .dnniu1,
  .enniu:hover .enniu1 {
    left: 80%;
  }
  .anniu:hover .anniu2,
  .bnniu:hover .bnniu2,
  .cnniu:hover .cnniu2,
  .dnniu:hover .dnniu2,
  .enniu:hover .enniu2 {
    width: 90%;
  }
  .anniu:hover,
  .bnniu:hover,
  .cnniu:hover,
  .dnniu:hover,
  .enniu:hover {
    width: 95%;
  }
}

@media (min-width: 800px) {
  .css li a {
    color: white;
    transition: 0.5s;
    padding: 50px;
  }
  .anniu:hover .anniu1,
  .bnniu:hover .bnniu1,
  .cnniu:hover .cnniu1,
  .dnniu:hover .dnniu1,
  .enniu:hover .enniu1 {
    left: 95%;
  }
  .anniu:hover .anniu2,
  .bnniu:hover .bnniu2,
  .cnniu:hover .cnniu2,
  .dnniu:hover .dnniu2,
  .enniu:hover .enniu2 {
    width: 100%;
  }
  .anniu:hover,
  .bnniu:hover,
  .cnniu:hover,
  .dnniu:hover,
  .enniu:hover {
    width: 100%;
  }
}
