@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1687222198109') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-03-xiangzuo:before {
  content: "\e648";
}

.icon-a-04-xiangyou:before {
  content: "\e649";
}

