<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="main">
  </div>
</body>

</html>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script>
  //style
  let main = d3.select('#main')
    .style('width', '500px')
    .style('height', '500px')
    .style('border', '1px solid #eee')

  let svg = main.append('svg')
    .style('width', '200px')
    .style('height', '200px')
    .style('border', '1px solid #eee')

  let rectData = [10, 20, 40, 50, 120]
  let max = Math.max(...rectData) + 10
  rectData.forEach((item, index) => {
    svg.append("rect")
      .attr("height", item + 'px')
      .attr("width", '20px')
      .attr("fill", '#f0f2f5')
      .attr("x", index * 30 + 10)
      .attr("y", max - item)
  })
</script>