<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
        <p class="item"></p>
    </div>
</body>

</html>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script>
     //style
    let main= d3.select('#main')
                .style('width', '500px')
                .style('height', '500px');

    main.selectAll('.item')
        .style('height', '10px')
        .style('width', '100%')
        .style('background', (d, i) => {
           return i % 2 ? 'red' : 'blue'
        })

</script>